
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Template</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>This is home Test</h1>
    <img src="images/food.jpeg" alt="" width="50px">
    <h2>My Name is {{name}}</h2>
    <h3>{{description}}</h3>

    <button>Click Me</button>
    <script src="file.js"></script>

</body>
</html>