* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}


:root{
    --var-color:rgb(36, 204, 36);
}

body {
    display: flex;
    background-color: #150029;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(63, 18, 185);
    padding: 1rem 2.9rem;
    border-radius: 12px;
    width: 600px;
    align-items: center;
    font-family: sans-serif;
}

.container h1 {
    color: #fff;
}

.container .up {
    width: 100%;
    display: flex;
    height: auto;
    gap: 5px;
}

.container .up input {
    width: 90%;
    height: 45px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 6px;
    font-family: sans-serif;
    border: none;
    outline: none;
}
.container .up button {
    width: 10%;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #7109d1;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.container .todo {
    display: flex;
    width: 100%;
    background-color: #ffffff44;
    padding: 1rem 2rem;
    border-radius: 12px;
    position: relative;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .todo small {
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 10px;
    left: 10px;
}

.container .todo p {
    color: #fff;
    font-size: 25px;
}
.container .todo p.done {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color: #fff;
    background-color: #0a74ff;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
}