<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body style="width: 100%;height: 100vh;display: flex;justify-content: center;align-items: center;background-color: #111;">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    </style>
    <h1 style="color: rgb(2, 236, 61);font-family: sans-serif;font-weight: 100;">404 | Page Not Found</h1>

</body>
</html>